StackPane{
    -fx-background-color:linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(102,102,102,0.73) 95%, rgba(102,101,102,0.72) 100%);
}


ScrollPane{
-fx-background-color:linear-gradient(to right, #232526, #414345) ;
}

ScrollPane > StackPane{
    -fx-background-color:none;
}

Label{
   -fx-text-fill:white;
   -fx-alignment:center;
}

Button{
   -fx-background-color:linear-gradient(to right, #257520 0%,#257520 35%,#257520 35%,#009e4f 70%,#009e4f 86%);
   -fx-text-fill:white;
   -fx-font-size:12px;
}

StackPane>StackPane > Button{
 -fx-font-size:15px;
}

Button:hover{
       -fx-font-weight:bold;
}

Button:pressed{
   -fx-font-weight:bold;
}



.warningTextField{
    -fx-background-color:red;
}


#Warning{
    -fx-text-fill:#f01a1a
}



 #switchOffBackground{
   -fx-background-color:none;
 }

