StackPane{
    -fx-background-color:linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(102,102,102,0.73) 95%, rgba(102,101,102,0.72) 100%);
}
.text-field{
    -fx-alignment:center;
}

ScrollPane{
-fx-background-color:linear-gradient(to right, #232526, #414345) ;
}

ScrollPane > StackPane{
    -fx-background-color:none;
}

Label{
   -fx-text-fill:white;
   -fx-alignment:center;
}

Button{
   -fx-background-color:linear-gradient(to right, #257520 0%,#257520 35%,#257520 35%,#009e4f 70%,#009e4f 86%);
   -fx-text-fill:white;
   -fx-font-size:12px;
}

StackPane>StackPane > Button{
 -fx-font-size:15px;
}

Button:hover{
       -fx-font-weight:bold;
}

Button:pressed{
   -fx-font-weight:bold;
}

.table-view{
    -fx-alignment: center;
    -fx-word-wrap: break-word;
}
.table-view .table-column{
   -fx-alignment: center;

}

.table-view .table-column .table-cell{
    -fx-alignment: center;
}
.table-row-cell{

}
.table-cell {

    -fx-text-wrap: true;
    -fx-min-height:31px;
}


.table-view .column-header-background .label{
	-fx-min-height: 50px;
	-fx-alignment: center;

}

.table-column > Label{
     -fx-text-fill:black;
     -fx-alignment: center;

}

.warningTextField{
    -fx-background-color:red;
}

.noDecoration{
    -fx-background-color: none;
}

#edit1, #edit2, #edit3, #edit4, #edit5, #filePath{
    -fx-alignment:center-left;
}

#Warning{
    -fx-text-fill:#f01a1a
}

#backButton{
     -fx-background-color:linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(222,222,222,1) 51%, rgba(221,221,221,1) 68%, rgba(220,220,220,1) 81%, rgba(219,219,219,1) 100%);
 }

 #switchOffBackground{
   -fx-background-color:none;
 }

